.container {
    overflow-x: hidden;
    width: 200px;
    flex-direction: column;
    justify-content: center;
}

.menu-toggler {
    background: #ec406a;
    border-radius: 10px;
    box-shadow: 0 5px #464749;
    color: #ffffff;
    width: 120px;
    height: 45px;
    cursor: pointer;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

.stagger-menu {
    list-style-type: none;
    margin: 16px 0;
}

.stagger-menu li {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transform: translateY(-100%);
    transition-duration: 0.2s;
    direction: rtl;
}

.menu-toggler:hover~.stagger-menu li {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(0.5s * var(--i));
}